.card-container {
  display: flex;
  flex-direction: column;
  width: 250px;

  margin: auto;
  margin-top: 50px;
  background-color: var(--body);
  color: var(--text-body);
  border: 1px solid var(--text-body);
}

.email-title {
  color: var(--text-body);
}

.card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-btn {
  width: 200px;
  text-align:left;
}

.logout-btn {
  padding-left: 20px;
}
