.panel-body {
  border-radius: 5px;
}

.btn {
  margin: 10px;
}

.user-table {
  display: flex;
  flex-direction: column;

}

.user-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #131313;
  color: #f9f9f9;
  height: 60px;

}

.user-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  height: 60px;
  color: var(--text-body);
}

.header-label {
  margin-left: 30px;
  margin-right: 30px;
  width: 100px;
}

.body-label {
  margin-left: 30px;
  margin-right: 30px;
  width: 100px;
}
